.register-form {
  width: 18rem;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  input {
    padding: .4rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  button {
    margin-top: .5rem;
    padding: .5rem;
    border-radius: 8px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;

    &:hover {
      background: #555;
    }
  }

  .success {
    margin-top: .5rem;
    color: green;
  }

  .error {
    margin-top: .5rem;
    color: red;
  }
}
