.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .content{
    padding: 8px;
    border-radius: 16px;
    max-width: 30%;
    background-color: #e0e0e0;
  }
}
.my-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .content{
    padding: 8px;
    border-radius: 16px;
    max-width: 30%;
    background-color: #007bff;
    color: white;
  }
}
.header{
  display: flex;
  flex-direction: row;
  gap: 16px;
}