<form (ngSubmit)="sendMessage()" class="chat-form">
    <div class="input-row">
        <label>Nazwa użytkownika</label>
        <input type="text" name="userName" [(ngModel)]="message!.username" /><br>
    </div>
    <label>Wiadomość</label>
    <div class="textarea-row">
        <textarea
            matInput
            cdkTextareaAutosize
            name="content" 
            [(ngModel)]="message!.content">
        </textarea><br>
        <button type="submit"><img src="assets/images/send-message.png" alt="Wyślij"/></button>
    </div>
</form>